/** medium screens */
@media screen and (max-width: 800px) {

/** layout */
.banner h1 {
    font-size: 20px;
}
.banner h1 span {
    font-size: 15px;
}
.banner .section .title {
    font-size: 20px;
}


#topmenu > li > a {
    font-size: 10px;
}
#topmenu > li > .submenu > li > a {
    padding: 5px 10px;
    font-size: 12px;
}

/** parallax */
.parallax-sidebar {

}

/* OYA style for survival globe icon BEGIN */

.logosurvivalback {
    margin-left: 15px;
    margin-top: 5px;
	float: left;
	width: 42px;
}

.logosubsitetitle {
	float: right;
	width: 189px;
    /*display: none;*/
}

#website-logo-position {
    float: inherit;
}

#links-position {
    background-color: white;
    float: right;
    min-width: 120px;
    padding: 17px 19px 9px 4px;
}
/* OYA style for survival globe icon END */



}