/** small screens */
@media screen and (max-width: 600px) {

/** layout */
body {
    padding: 0 2px;
}
.banner h1 {
    font-size: 14px;
}
.banner h1 span {
    font-size: 12px;
}
#header {
    height: 90px;
}

/** hidden 
#website-logo-position,
*/
#topmenu {
    display: none;
}

/** shown */
#topmenu-small {
    display: block;
}

/* OYA style for survival globe icon BEGIN */

.logosurvivalback {
    width: 39px;
    margin-left: 5px;
    margin-top: 5px;
	float: inherit;
}

.logosubsitetitle {
    display: none;
}

#website-logo-position {
    float: inherit;
}

#links-position {
    background-color: white;
    float: left;
    min-width: 120px;
    padding: 17px 92px 9px 4px;
    width: 100%;
}
/* OYA style for survival globe icon END */


}